.sortAppContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

  .sortAppVisual {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .bars {
    margin-left: 5px;
    width: 10px;
    background-color: red;
    transition: 0.5s;
  }
}
