.sortAppContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  overflow: hidden;

  .sortAppVisual {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    overflow: auto;

    @media screen and (max-device-width: 720px) {
      justify-content: space-evenly;
    }
  }

  .bars {
    background-color: red;
    transition: 0.1s;
    font-family: "poppins";
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2px;
  }
}
